.about {
    padding: 80px 0 140px;

    .breadcrumb {
        margin-bottom: 42px;
    }

    .story {
        position: relative;
        height: 609px;
        .container{
            display: flex;
            align-items: center;
            height: inherit;
        }
        &__info {
            max-width: 525px;
            h1 {
                font-family: 'Inter';
                @include font(54, 64, 600, $dark-color);
                letter-spacing: 0.06em;
                margin-bottom: 40px;
            }

            p {
                @include font(16, 26, 400, $dark-color);

                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
        }

        &__img {
            width: 705px;
            height: 609px;
            border-radius: 4px 0px 0px 4px;
            background: #EB7EA8;
            position: absolute;
            right: 0;
            top: 0;
            img{
                width: 510px;
                height: inherit;
            }
        }
    }

    .info {
        padding: 140px 0;

        .container {
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        }

        &__item {
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            padding: 30px 0;
            text-align: center;
            transition: .3s;

            &-img {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;

                }
            }

            h1 {
                font-family: 'Inter';
                margin: 24px 0 12px;
            }

            &:hover {
                background: $secondary2-color;
                box-shadow: $shadow-color;
                border-color: $secondary2-color;
            }

            &:hover h1,
            &:hover p {
                color: $primary-color;
            }
        }
    }

    .team {
        position: relative;
        &__item {
            h1 {
                font-family: 'Inter';
                letter-spacing: 0.04em;
                margin-bottom: 8px;
                @include font(32, 30, 500, $dark-color)
            }
            p{
                margin-bottom: 16px;
            }
        }
        &__icons{
            display: flex;
            gap: 16px;
        }
        &__img {
            background: $secondary-color;
            border-radius: 4px;
            margin-bottom: 32px;
            width: 370px;
            height: 430px;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: inherit;
                height: auto;
            }
        }
        .swiper{
            position: initial !important;

        }
        .swiper-pagination{
            bottom: -62px;
        }
    }
    .services{
        margin-top: 220px;
        justify-content: center;
    }
}
