.container__about {
    .about-left__parent {
        display: grid;
        grid-template-areas:
            "a a b b"
            "c c b b"
        ;
    }

    h1 {

        font-weight: 600;
        font-size: 54px;
        line-height: 64px;
        color: #000000;
    }

    p {

        width: 525px;
        font-weight: 400;
        font-size: 16px;
        grid-area: c;
        color: #000000;
    }

    .about-right__img {
        grid-area: b;

        img {
            width: 600px;
            height: 609px;
            margin-right: -250px;
            margin-top: 23px;


        }
    }

    .customer-about__cards {
        display: grid;
        grid-template-columns: repeat(6, 3fr);
        // align-items: center;
        justify-items: center;
        gap: 30px;
        margin-top: 240px;
        margin-bottom: 140px;




        .customer-about__card {
            width: 270px;
            border: 1px solid rgba(0, 0, 0, 0.3);
            border-radius: 4px;
            padding: 23px 30px;

            .customer-about__card:hover {
                background: #DB4444;
            }
        }


    }

    .people-section__cards {
        display: grid;
        grid-template-columns: repeat(6, 3fr);
        justify-items: center;
        align-items: center;
        margin-bottom: 123px;

        h1 {
            font-weight: 500;
            font-size: 32px;
            line-height: 30px;
            margin-top: 32px;
            letter-spacing: 0.04em;
            color: #000000;
            margin-bottom: 8px;

            p {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: #000000;
            }
        }

    }
}