.cart {
    padding: 80px 0 140px;

    &__main {
        display: flex;
        flex-direction: column;
        gap: 40px;

        .parent {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 24px 39px 24px 40px;
            border-radius: 4px;
            background: $primary-color;
            box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);

            .item {
                width: calc(100% / 4);
                text-align: center;

                &:first-child {
                    text-align: start;
                }

                &:last-child {
                    text-align: end;
                }
            }
        }
    }

    &__section-item {
        padding-right: 66px;

        .product {
            display: flex;
            align-items: center;
            gap: 20px;

            .img {
                width: 54px;
                height: 54px;
                display: grid;
                place-items: center;
                position: relative;
                cursor: pointer;

                .remove-btn {
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    right: 40px;
                    bottom: 34px;
                    display: none;
                }

                img {
                    width: inherit;
                    height: inherit;
                    object-fit: cover;
                }

                &:hover {
                    .remove-btn {
                        display: block;
                    }
                }
            }
        }

        .quantity {
            display: flex;
            justify-content: center;

            .prev,
            .next {
                width: 20px;
                height: 20px;
                background: red;
            }
            .next{
                background: green;
            }
            input {
                display: flex;
                width: 72px;
                height: 44px;
                padding: 6px 12px;
                justify-content: center;
                align-items: center;
                border-radius: 4px;
                border: 1.5px solid rgba(0, 0, 0, 0.40);
            }

            input[type=number]::-webkit-inner-spin-button {
                // opacity: 1;
                display: none;
            }
        }

        .subtotal {
            padding-right: 26px;
        }
    }

    &__section-btns {
        display: flex;
        justify-content: space-between;
        margin: 24px 0 80px;
    }
}