.footer{
    background: $dark-color;
    color: $text-color;

    &__content{
        display: flex;
        justify-content: space-between;
        padding: 80px 0 60px;
    }
    &__logo{
        color: $text-color;
        margin-bottom: 24px;
    }
    &__bottom{
        padding: 16px 0 24px;
        border-top: 1px solid rgba(255, 255, 255, .4);

        p{
            text-align: center;
            opacity: .4;
            color: $primary-color;
        }
    }
}