$color-white: #fff;
$secondary-white: #fafafa;
$color-crimson: #DB4444;
$color-dark: #000;
$color-green: #00FF66;
$color-yellow: #EEFF61;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-style: normal;
    border: none;
    outline: none;
}

*::selection{
    background: red;
    color: black;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.pop-14-21-400 {
    @include font(14, 21, 400, $secondary-white);
}

.pop-16-24-400 {
    @include font(16, 24, 400, $color-darked);
}
