.main-left__child {
    h1 {
        color: #00FF66;
    }
}

.arrival-content__bottom {
    margin-top: 60px;
    display: grid;
    grid-template-areas:
        "a a b b"
        "a a c d";
    row-gap: 32px;
    column-gap: 30px;

    .bottom__card1 {
        width: 570px;
        height: 600px;
        grid-area: a;
        background-color: black;

        img {
            transform: translateY(89px) translateX(30px);
        }

        .text {
            width: 242px;
            transform: translateY(-50px) translateX(30px);
            display: grid;
            row-gap: 5px;
            color: white;

            a {
                width: 90px;
                border-bottom: 1px solid $text-color;
            }
        }
    }

    .bottom__card2 {
        width: 570px;
        height: 284px;
        background-color: #0D0D0D;
        grid-area: b;

        img {
            height: inherit;
            transform: translateX(135px);
        }

        .text {
            width: 259px;
            transform: translateY(-140px) translateX(30px);
            display: grid;
            row-gap: 10px;

            a {
                width: 90px;
                border-bottom: 1px solid $text-color;
            }
        }
    }

    .bottom__card3 {
        width: 270px;
        height: 284px;
        background-color: #282828;
        grid-area: c;

        img {
            transform: translateY(50px) translateX(30px);
        }

        .text {
            width: 191px;
            transform: translateY(-40px) translateX(30px);
            display: grid;
            row-gap: 5px;

            a {
                width: 90px;
                border-bottom: 1px solid $text-color;
            }
        }
    }
    .bottom__card4 {
        width: 270px;
        height: 284px;
        background-color: #282828;
        grid-area: d;

        img {
            transform: translateY(50px) translateX(30px);
        }

        .text {
            width: 191px;
            transform: translateY(-30px) translateX(30px);
            display: grid;
            row-gap: 5px;

            a {
                width: 90px;
                border-bottom: 1px solid $text-color;
            }
        }
    }
}

.top-header {
    background: $dark-color;
    padding: 15px 0;

    &__info {
        display: flex;
        align-items: center;
        gap: 8px;
        .main-categories__parent {
            display: grid;
            justify-items: center;
            align-items: center;
            grid-template-columns: repeat(2, 4fr);
            background: #000000;
            .main-left__child {
                h1 {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 20px;
                    color: #00FF66;
                }
                p {
                    font-weight: 600;
                    font-size: 48px;
                    line-height: 60px;
                    letter-spacing: 0.04em;
                    color: #ffff;
                }
            }
        }

        .main-right__child {
            img {
                background: #D9D9D9;
                filter: blur(100px);
            }
            .main-left__child {
                h1 {
                    color: #00FF66;
                }
            }
            .arrival-content__bottom {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .arrival-bottom__left {
                    position: relative;
                    width: 570px;
                    height: 600px;
                    background: #000;

                    .arrival-bottom__img {
                        position: absolute;
                        bottom: 0;
                    }

                    .arrival-bottom__text {
                        width: 242px;
                        position: absolute;
                        left: 20px;
                        top: 420px;

                        .arrival-bottom__h3 {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 24px;
                            letter-spacing: 0.03em;
                            color: #FAFAFA;
                        }

                        .arrival-bottom__p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 14px;
                            line-height: 21px;
                            color: #FAFAFA;
                        }

                        .arrival-bottom__a {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #FFFFFF;
                        }
                    }
                }

                .arrival-bottom__right {
                    display: grid;
                }
            }

            .card {
                width: 100px;
                height: 100px;
                background-color: red;
            }
        }
    }
}

.card {
    width: 100px;
    height: 100px;
    background-color: red;
}

/* ====== SERVICE ===== */
.services {
    display: grid;
    gap: 88px;
    grid-template-columns: repeat(auto-fit, minmax(249px, 1fr));

    &__card {
        text-align: center;

        &-img {
            width: 80px;
            height: 80px;
            margin: 0 auto 24px;
        }
    }

    &__text {
        h1 {
            @include font(20, 28, 600, $dark-color);
            margin-bottom: 8px;
        }

        p {
            color: $dark-color;
        }
    }
}

