 .inp {
     outline: none;
     display: block;
     padding-bottom: 8px;
     margin-bottom: 40px;
     border-bottom: 1px solid #000;
     width: 100%;
     @include font(16, 24, 400, #000)
 }

 .lastInp {
     margin-bottom: 56px;
 }

//  button {
//      margin-bottom: 16px;
//      width: 100%;
//      border-radius: 4px;
//  }




 .sighUp {
     margin: {
         top: 60px;
         bottom: 140px;
     }


     width: 100%;
     display: grid;
     background: transparent;
     //  gap: 320px;
     grid-template-columns: repeat(2, minmax(250px, 1fr));

     .sighUp__left {
         background: #CBE4E8;
         margin-left: -100px;


         img {
             width: 805px;
             height: 100%;
             padding-top: 75px;
             padding-left: 8px;
             background: #CBE4E8;
             background-repeat: no-repeat;
             background-size: cover;
         }
     }

     .sighUp__right {
         margin-top: 85px;
         margin-left: 200px;

         h1 {
             @include font(36, 30, 500, #000);
             margin-top: 15px;

         }

         p {
             font-weight: 400;
             font-size: 16px;
             line-height: 24px;
             @include font(16, 24, 400, #000);

             margin: {
                 top: 24px;
                 bottom: 48px;
             }

             ;


         }

         .sighUp__btn {
             padding: 16px 12px;
             background: #DB4444;
             @include font(16, 24, 500, #fafafa);
             border-radius: 4px;
         }

         .sighUp__btn1 {
             display: flex;
             gap: 8px;
             align-items: center;
             justify-content: center;

             padding: {
                 top: 16px;
                 left: 106px;
                 bottom: 16px;
                 right: 56px;

             }

             ;
             @include font(14, 24, 400, #000);
         }

         .links {
             display: flex;
             width: 100%;
             gap: 16px;
             justify-content: center;

             .link1 {
                 @include font(16, 24, 400, #000);
                 opacity: 0.7;
             }

             .link2 {
                 @include font(16, 24, 500, #000);
                 opacity: 0.7;
                 border-bottom: 1px solid;
             }
         }
     }



 }

//  @media (max-width:1100px) {
//      .sighUp {
//          margin: {
//              top: 60px;
//              bottom: 140px;
//          }


//          width: 100%;
//          display: grid;
//          background: transparent;
//          //  gap: 320px;
//          grid-template-columns: repeat(2, minmax(250px, 1fr));

//          .sighUp__left {
//              margin-left: -200px;
//          }
//      }

//  }

 @media (max-width:1110px) {
     .sighUp {
         grid-template-columns: repeat(1, 1fr);
         grid-gap: 3em;

         .sighUp__left {
             margin: 0;
         }

         .sighUp__right {
             margin: 0;

             input {
                 padding-left: 30px;
             }

         }
     }
 }